@import url('https://fonts.googleapis.com/css2?family=El+Messiri:wght@400;500;600;700&family=Montez&family=Montserrat:wght@300;400;500;600;700;800;900&family=Open+Sans:wght@300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Open Sans", sans-serif;
  @apply text-paragraph-color;
  @apply bg-white;
  background-image: url('./assets/hero-bgs.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.active {
  @apply text-secondary-100;
}